@import "./_variables";

.nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 30px 0px 30px;

  &__logo {
    width: 75px;
    height: auto;
  }

  &__header {
    display: none;
  }

  &__menu {
    display: none;

    &-hamburger {
      position: fixed;
      transform: translateY(-100%); // moves the menu above
      transition: transform 0.2s;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 99;
      height: 60%;
      background-color: $tertiary-color;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;  
    }
  }

  &__item-ham {
    font-size: 3em;
    background-color: $tertiary-color;
    color: $primary-color;
    text-decoration: none;
    font-weight: bold;
    margin: 25px;
  }

  &__hamburger {
    z-index: 100;
    padding: 10px;
    background-color: transparent;
    cursor: pointer;
    border: none;

    position: fixed;
    top: 30px;
    right: 30px;

    .menuIcon {
      color: $tertiary-color;
      
    }

    .closeIcon {
      background-color: transparent;
      display: none;
      color: $primary-color;
    }
  }
}

.showMenu {
  transform: translateY(0);
}

@media screen and (min-width: 1024px) {
  .nav {
    margin: 30px 80px 0px 80px;
    
    &__logo {
      width: 86px;
      height: auto;
    }

    &__header {
      display: flex;
      color: $secondary-color;
      font-size: 30px;
      width: calc(100% - 416px);
      justify-content: center;
    }

    &__hamburger {
      display: none;
    }

    &__menu {
      display: flex;
      flex-direction: row;
      background-color: $primary-color;
      position: fixed;
      top: 51px;
      right: 70px;

      
      &-hamburger {
        display: none;
      }
    }

    &__item {
      color: $secondary-color;
      margin: 0px 10px;
      font-size: 20px;
      font-weight: normal;
      background-color: transparent;
      padding: 10px;
      border-radius: 40px;
      text-decoration: none;

      &:hover {
        background-color: $tertiary-color;
      }
    }

    
  }
    
}