@import "_variables.scss";

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 30px 30px 30px;

  &__logo {
    width: 75px;
    height: auto;
  }

  &__header {
    display: none;
  }

  &__menu {
    position: fixed;
    transform: translateY(-100%); // moves the menu above
    transition: transform 0.2s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    height: 60%;
    background-color: $tertiary-color;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
  }

  &__item {
    font-size: 3em;
    background-color: $tertiary-color;
    color: $primary-color;
    text-decoration: none;
    font-weight: bold;
    margin: 25px;
  }

  &__hamburger {
    z-index: 100;
    padding: 4px;
    background-color: transparent;
    cursor: pointer;
    border: none;

    .menuIcon {
      color: $tertiary-color;
    }

    .closeIcon {
      background-color: transparent;
      display: none;
      color: $primary-color;
    }
  }
}

.showMenu {
  transform: translateY(0);
}

@media screen and (min-width: 1024px) {
  .nav {
    padding: 50px 80px 50px 80px;
    
    &__logo {
      width: 86px;
      height: auto;
    }

    &__header {
      display: inline-flex;
      color: $secondary-color;
      font-weight: bold;
      margin-left: 50px;
    }


    &__hamburger {
      display: none;
    }

    &__menu {
      transform: translateY(0);
      transition: none;
      position: static;
      background-color: $primary-color;

      flex-direction: row;
    }

    &__item {
      color: $secondary-color;
      margin: 0px 10px;
      font-size: 20px;
      font-weight: normal;
      background-color: transparent;
      padding: 10px;
      border-radius: 40px;

      &:hover {
        background-color: $tertiary-color;
      }
    }

    &__item:nth-child(3) {
      margin: 0 0 0 10px;
    }
  }
    
}