.nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 30px 0px 30px;
}
.nav__logo {
  width: 75px;
  height: auto;
}
.nav__header {
  display: none;
}
.nav__menu {
  display: none;
}
.nav__menu-hamburger {
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.2s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  height: 60%;
  background-color: #E59C23;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav__item-ham {
  font-size: 3em;
  background-color: #E59C23;
  color: #142430;
  text-decoration: none;
  font-weight: bold;
  margin: 25px;
}
.nav__hamburger {
  z-index: 100;
  padding: 10px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  position: fixed;
  top: 30px;
  right: 30px;
}
.nav__hamburger .menuIcon {
  color: #E59C23;
}
.nav__hamburger .closeIcon {
  background-color: transparent;
  display: none;
  color: #142430;
}

.showMenu {
  transform: translateY(0);
}

@media screen and (min-width: 1024px) {
  .nav {
    margin: 30px 80px 0px 80px;
  }
  .nav__logo {
    width: 86px;
    height: auto;
  }
  .nav__header {
    display: flex;
    color: #E6F4F1;
    font-size: 30px;
    width: calc(100% - 416px);
    justify-content: center;
  }
  .nav__hamburger {
    display: none;
  }
  .nav__menu {
    display: flex;
    flex-direction: row;
    background-color: #142430;
    position: fixed;
    top: 51px;
    right: 70px;
  }
  .nav__menu-hamburger {
    display: none;
  }
  .nav__item {
    color: #E6F4F1;
    margin: 0px 10px;
    font-size: 20px;
    font-weight: normal;
    background-color: transparent;
    padding: 10px;
    border-radius: 40px;
    text-decoration: none;
  }
  .nav__item:hover {
    background-color: #E59C23;
  }
}
h2 {
  font-size: 22px;
  font-weight: bold;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 12px;
}

button {
  cursor: pointer;
  border-width: 2px;
  border-style: outset;
  border-color: -internal-light-dark(#767676, #858585);
  border-image: initial;
}

.main__btn {
  margin-top: 40px;
  background-color: #E59C23;
  color: #E6F4F1;
  font-size: 18px;
  padding: 20px;
  border-radius: 40px;
  width: 210px;
  font-weight: bold;
}

.main__btn:hover {
  background-color: #E6F4F1;
  color: #E59C23;
}

.carousel__btn {
  width: fit-content;
  background-color: transparent;
  border: none;
  padding: 10px;
}

.project-btn {
  width: 49%;
  padding: 7px 5px;
  border-radius: 12px;
  font-weight: bold;
  color: #142430;
}
.project-btn:hover {
  background-color: #708090;
  color: #E59C23;
}
.project__preview {
  background-color: #E6F4F1;
}
.project__github {
  background-color: #E59C23;
}

.social-btn {
  margin: 0 15px;
  background: transparent;
  border: none;
}
.social-btn .fab, .social-btn .fas, .social-btn .far {
  font-size: 52px;
  color: #E59C23;
}
.social-btn__text {
  color: #E59C23;
  font-weight: bold;
  margin-top: 10px;
}

@media screen and (min-width: 1024px) {
  .main__btn {
    font-size: 20px;
    width: 200px;
  }

  .project-btn {
    padding: 5px;
    border-radius: 10px;
  }

  .social-btn {
    margin: 0 25px;
  }
  .social-btn .fab, .social-btn .fas, .social-btn .far {
    font-size: 65px;
  }
  .social-btn__text {
    font-size: 20px;
  }
  .social-btn:hover > i, .social-btn:hover p {
    color: #E6F4F1;
  }
}
h2 {
  font-size: 22px;
  font-weight: bold;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 12px;
}

body {
  height: 100vh;
}

.main-home {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  height: calc(100% - (99px));
}
.main-home__header {
  color: #E6F4F1;
  margin: 25px 0;
}
.main-home__header:first-child {
  padding-top: 0px;
}
.main-home__header .color-change {
  color: #E59C23;
}

@media screen and (min-width: 1024px) {
  .main-home {
    width: 90%;
    height: calc(100% - (120px));
  }
  .main-home__header {
    font-size: 45px;
    padding: 0;
    margin: 7px 0;
  }
}
h2 {
  font-size: 22px;
  font-weight: bold;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 12px;
}

.main-about {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.main-about__header {
  text-align: center;
  margin: 40px 0 25px 0;
  color: #E6F4F1;
}
.main-about__image-frame {
  height: 144px;
  width: 126px;
  background-color: #708090;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-about__image-frame > img {
  height: 134px;
  width: 116px;
}
.main-about__text {
  margin-top: 30px;
  font-family: "Fira Sans", sans-serif;
  text-align: left;
  color: #E6F4F1;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.main-about__divider {
  margin: 40px 0px;
  background-color: #E59C23;
  border: 2px solid #E59C23;
}
.main-about .skills {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.main-about .skills__header {
  color: #E6F4F1;
  text-align: center;
  margin-bottom: 25px;
}
.main-about .skills__display {
  padding: 25px;
  border-left: 4px solid #708090;
  border-right: 4px solid #708090;
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.main-about .skills__display-item {
  height: 80px;
  width: 80px;
  background-color: #708090;
  display: flex;
  border-radius: 15px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-about .skills__display-item .fab, .main-about .skills__display-item .fas, .main-about .skills__display-item .skills__display-header {
  color: #E6F4F1;
}
.main-about .skills__display-item .skills__display-header {
  margin-top: 5px;
}
.main-about .skills__display-item:hover {
  background-color: #E59C23;
}

@media screen and (min-width: 1024px) {
  .main-about {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
  }
  .main-about__header {
    display: none;
  }
  .main-about__blurb {
    display: flex;
    align-items: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .main-about__image-frame {
    width: 160px;
    height: 181px;
    margin-right: auto;
    margin-left: auto;
  }
  .main-about__image-frame > img {
    width: 150px;
    height: 171px;
  }
  .main-about__text {
    margin: 0;
    width: 70%;
    font-size: 18px;
  }
  .main-about__divider {
    margin: 30px 0;
  }
  .main-about .skills {
    margin-bottom: 0;
  }
  .main-about .skills__header {
    font-size: 22px;
  }
  .main-about .skills__display {
    display: flex;
    width: 65%;
    gap: 30px;
    padding: 20px 50px;
  }
}
h2 {
  font-size: 22px;
  font-weight: bold;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 12px;
}

.main-projects {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}
.main-projects__header {
  text-align: center;
  margin: 40px 0 25px 0;
  color: #E6F4F1;
}
.main-projects .carousel {
  display: flex;
  justify-content: center;
}
.main-projects .carousel__btn > i {
  color: #E59C23;
  font-weight: bold;
  font-size: 42px;
}
.main-projects .carousel__btn .fa-chevron-left {
  margin-right: 10px;
}
.main-projects .carousel__btn .fa-chevron-right {
  margin-left: 10px;
}
.main-projects .carousel .project {
  display: none;
  flex-direction: column;
  padding: 20px;
  background-color: #708090;
  border-radius: 15px;
  width: 100%;
}
.main-projects .carousel .project__image {
  width: 100%;
}
.main-projects .carousel .project__header {
  text-align: left;
  color: #E6F4F1;
  margin-top: 10px;
  margin-bottom: 5px;
}
.main-projects .carousel .project__skill-bar {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: 5px;
}
.main-projects .carousel .project__skill-bar .skill {
  background-color: #E59C23;
  color: #142430;
  padding: 5px;
  margin-right: 5px;
  border-radius: 8px;
  font-size: 12px;
}
.main-projects .carousel .project__description {
  color: #E6F4F1;
  text-align: left;
  margin-bottom: 5px;
  font-size: 14px;
  font-family: "Fira Sans", sans-serif;
}
.main-projects .carousel .project__btns {
  display: flex;
  justify-content: space-between;
}
.main-projects .carousel .project:first-child {
  display: flex;
}

@media screen and (min-width: 1024px) {
  .main-projects {
    justify-content: center;
    width: 60%;
  }
  .main-projects__header {
    display: none;
  }
  .main-projects .carousel {
    margin-top: 20px;
  }
  .main-projects .carousel__btn > i {
    font-size: 60px;
  }
  .main-projects .carousel__btn > i:hover {
    color: #E6F4F1;
  }
  .main-projects .projects {
    width: 80%;
  }
}
h2 {
  font-size: 22px;
  font-weight: bold;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 12px;
}

.main-contact {
  height: calc(100% - 99px);
}
.main-contact__header {
  text-align: center;
  margin: 40px 0 25px 0;
  color: #E6F4F1;
}
.main-contact .contact-links {
  height: calc(100% - 190px);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 1024px) {
  .main-contact__header {
    display: none;
  }
  .main-contact .contact-links {
    height: calc(100% - 80px);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merriweather", serif;
}

/* phone - app 374 x 667 */
body {
  display: flex;
  flex-direction: column;
  background-color: #142430;
  width: 100%;
}

/* desktop 1024 x 768 */