.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 30px 30px 30px;
}
.nav__logo {
  width: 75px;
  height: auto;
}
.nav__header {
  display: none;
}
.nav__menu {
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.2s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  height: 60%;
  background-color: #E59C23;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav__item {
  font-size: 3em;
  background-color: #E59C23;
  color: #142430;
  text-decoration: none;
  font-weight: bold;
  margin: 25px;
}
.nav__hamburger {
  z-index: 100;
  padding: 4px;
  background-color: transparent;
  cursor: pointer;
  border: none;
}
.nav__hamburger .menuIcon {
  color: #E59C23;
}
.nav__hamburger .closeIcon {
  background-color: transparent;
  display: none;
  color: #142430;
}

.showMenu {
  transform: translateY(0);
}

@media screen and (min-width: 1024px) {
  .nav {
    padding: 50px 80px 50px 80px;
  }
  .nav__logo {
    width: 86px;
    height: auto;
  }
  .nav__header {
    display: inline-flex;
    color: #E6F4F1;
    font-weight: bold;
    margin-left: 50px;
  }
  .nav__hamburger {
    display: none;
  }
  .nav__menu {
    transform: translateY(0);
    transition: none;
    position: static;
    background-color: #142430;
    flex-direction: row;
  }
  .nav__item {
    color: #E6F4F1;
    margin: 0px 10px;
    font-size: 20px;
    font-weight: normal;
    background-color: transparent;
    padding: 10px;
    border-radius: 40px;
  }
  .nav__item:hover {
    background-color: #E59C23;
  }
  .nav__item:nth-child(3) {
    margin: 0 0 0 10px;
  }
}
.nav {
  font-family: "Merriweather", serif;
  font-weight: bold;
}

main * {
  font-family: "Merriweather", serif;
}
main h2 {
  font-size: 22px;
  font-weight: bold;
}
main h3 {
  font-size: 18px;
}
main h4 {
  font-size: 12px;
}

.main-about .main-about__blurb > .main-about__text, .main-about .skills-display-item > h4 {
  font-family: "Fira Sans", sans-serif;
}
.main-about .main-about__blurb > .main-about__text {
  font-size: 16px;
}

.main-projects .carousel__item__skill-bar .skill {
  font-size: 12px;
}
.main-projects .carousel__item__description {
  font-family: "Fira Sans", sans-serif;
  font-size: 14px;
}
.main-projects .carousel__item__buttons p {
  font-size: 16px;
}

.main-contact__socials__links__item > a > i {
  font-size: 40px;
}
.main-contact__socials__links__item > a > p {
  font-size: 8px;
}

.main-contact__form-section__form > label, .main-contact__form-section__form input {
  font-size: 14px;
}

@media screen and (min-width: 1024px) {
  .nav {
    font-weight: normal;
  }
  .nav .nav__link {
    font-size: 20px;
  }
  .nav h2 {
    font-size: 30px;
  }

  .main-home > h2 {
    font-size: 42px;
  }

  .main-about .main-about__blurb .main-about__text {
    font-size: 18px;
  }
  .main-about .main-about__skills > h3 {
    font-size: 22px;
  }

  .main-contact__sub-header {
    font-size: 22px;
  }

  .main-contact__socials__links__item > a > p {
    font-size: 18px;
  }

  .main-contact__form-section__form > label, .main-contact__form-section__form input {
    font-size: 18px;
  }
}
button {
  cursor: pointer;
}

.main__btn {
  margin-top: 30px;
  background-color: #E59C23;
  color: #E6F4F1;
  font-size: 18px;
  padding: 20px;
  border-radius: 40px;
  width: 70%;
  font-weight: bold;
}

.main__btn:hover {
  background-color: #E6F4F1;
  color: #E59C23;
}

.carousel__items__buttons {
  display: flex;
  justify-content: space-between;
}
.carousel__items__buttons > button {
  width: 49%;
  padding: 5px;
  border-radius: 10px;
}
.carousel__items__buttons > button > p {
  color: #142430;
  font-weight: bold;
}
.carousel__items__buttons .carousel__preview {
  background-color: #E6F4F1;
}
.carousel__items__buttons .carousel__github {
  background-color: #E59C23;
}

.carousel__controls__buttons {
  background-color: #E6F4F1;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 0px 6px;
  border: 0;
}
.carousel__controls__buttons--selected {
  background-color: #E59C23;
}

.clear-button, .submit-button {
  border-radius: 5px;
  border: none;
  color: #142430;
  padding: 2px;
  cursor: pointer;
}

.clear-button {
  background-color: #E6F4F1;
}

.submit-button {
  background-color: #E59C23;
}

.clear-button:hover, .submit-button:hover, .carousel__preview:hover, .carousel__github:hover {
  background-color: #708090;
  color: #E59C23;
}

.carousel__preview:hover > p, .carousel__github:hover > p {
  color: #E59C23;
}

@media screen and (min-width: 1024px) {
  .main__btn {
    font-size: 20px;
    width: 200px;
    font-weight: bold;
  }

  .clear-button, .submit-button {
    border-radius: 10px;
    padding: 5px;
  }
}
.nav {
  font-family: "Merriweather", serif;
  font-weight: bold;
}

main * {
  font-family: "Merriweather", serif;
}
main h2 {
  font-size: 22px;
  font-weight: bold;
}
main h3 {
  font-size: 18px;
}
main h4 {
  font-size: 12px;
}

.main-about .main-about__blurb > .main-about__text, .main-about .skills-display-item > h4 {
  font-family: "Fira Sans", sans-serif;
}
.main-about .main-about__blurb > .main-about__text {
  font-size: 16px;
}

.main-projects .carousel__item__skill-bar .skill {
  font-size: 12px;
}
.main-projects .carousel__item__description {
  font-family: "Fira Sans", sans-serif;
  font-size: 14px;
}
.main-projects .carousel__item__buttons p {
  font-size: 16px;
}

.main-contact__socials__links__item > a > i {
  font-size: 40px;
}
.main-contact__socials__links__item > a > p {
  font-size: 8px;
}

.main-contact__form-section__form > label, .main-contact__form-section__form input {
  font-size: 14px;
}

@media screen and (min-width: 1024px) {
  .nav {
    font-weight: normal;
  }
  .nav .nav__link {
    font-size: 20px;
  }
  .nav h2 {
    font-size: 30px;
  }

  .main-home > h2 {
    font-size: 42px;
  }

  .main-about .main-about__blurb .main-about__text {
    font-size: 18px;
  }
  .main-about .main-about__skills > h3 {
    font-size: 22px;
  }

  .main-contact__sub-header {
    font-size: 22px;
  }

  .main-contact__socials__links__item > a > p {
    font-size: 18px;
  }

  .main-contact__form-section__form > label, .main-contact__form-section__form input {
    font-size: 18px;
  }
}
main {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}
main h2 {
  color: #E6F4F1;
  padding: 30px 0px 30px 0px;
}

.color-change {
  color: #E59C23;
}

.nav {
  font-family: "Merriweather", serif;
  font-weight: bold;
}

main * {
  font-family: "Merriweather", serif;
}
main h2 {
  font-size: 22px;
  font-weight: bold;
}
main h3 {
  font-size: 18px;
}
main h4 {
  font-size: 12px;
}

.main-about .main-about__blurb > .main-about__text, .main-about .skills-display-item > h4 {
  font-family: "Fira Sans", sans-serif;
}
.main-about .main-about__blurb > .main-about__text {
  font-size: 16px;
}

.main-projects .carousel__item__skill-bar .skill {
  font-size: 12px;
}
.main-projects .carousel__item__description {
  font-family: "Fira Sans", sans-serif;
  font-size: 14px;
}
.main-projects .carousel__item__buttons p {
  font-size: 16px;
}

.main-contact__socials__links__item > a > i {
  font-size: 40px;
}
.main-contact__socials__links__item > a > p {
  font-size: 8px;
}

.main-contact__form-section__form > label, .main-contact__form-section__form input {
  font-size: 14px;
}

@media screen and (min-width: 1024px) {
  .nav {
    font-weight: normal;
  }
  .nav .nav__link {
    font-size: 20px;
  }
  .nav h2 {
    font-size: 30px;
  }

  .main-home > h2 {
    font-size: 42px;
  }

  .main-about .main-about__blurb .main-about__text {
    font-size: 18px;
  }
  .main-about .main-about__skills > h3 {
    font-size: 22px;
  }

  .main-contact__sub-header {
    font-size: 22px;
  }

  .main-contact__socials__links__item > a > p {
    font-size: 18px;
  }

  .main-contact__form-section__form > label, .main-contact__form-section__form input {
    font-size: 18px;
  }
}
@media screen and (min-width: 1024px) {
  .main-home {
    padding-top: 100px;
    width: 90%;
  }
  .main-home > .main-home__header {
    padding: 2px;
  }
}
.nav {
  font-family: "Merriweather", serif;
  font-weight: bold;
}

main * {
  font-family: "Merriweather", serif;
}
main h2 {
  font-size: 22px;
  font-weight: bold;
}
main h3 {
  font-size: 18px;
}
main h4 {
  font-size: 12px;
}

.main-about .main-about__blurb > .main-about__text, .main-about .skills-display-item > h4 {
  font-family: "Fira Sans", sans-serif;
}
.main-about .main-about__blurb > .main-about__text {
  font-size: 16px;
}

.main-projects .carousel__item__skill-bar .skill {
  font-size: 12px;
}
.main-projects .carousel__item__description {
  font-family: "Fira Sans", sans-serif;
  font-size: 14px;
}
.main-projects .carousel__item__buttons p {
  font-size: 16px;
}

.main-contact__socials__links__item > a > i {
  font-size: 40px;
}
.main-contact__socials__links__item > a > p {
  font-size: 8px;
}

.main-contact__form-section__form > label, .main-contact__form-section__form input {
  font-size: 14px;
}

@media screen and (min-width: 1024px) {
  .nav {
    font-weight: normal;
  }
  .nav .nav__link {
    font-size: 20px;
  }
  .nav h2 {
    font-size: 30px;
  }

  .main-home > h2 {
    font-size: 42px;
  }

  .main-about .main-about__blurb .main-about__text {
    font-size: 18px;
  }
  .main-about .main-about__skills > h3 {
    font-size: 22px;
  }

  .main-contact__sub-header {
    font-size: 22px;
  }

  .main-contact__socials__links__item > a > p {
    font-size: 18px;
  }

  .main-contact__form-section__form > label, .main-contact__form-section__form input {
    font-size: 18px;
  }
}
.main-about__image-frame {
  height: 144px;
  width: 126px;
  background-color: #708090;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-about__image-frame > img {
  height: 134px;
  width: 116px;
}
.main-about__text {
  margin-top: 30px;
  text-align: left;
  color: #E6F4F1;
}
.main-about__divider {
  margin: 40px 0px;
  width: 110%;
  background-color: #E59C23;
  border: 2px solid #E59C23;
}
.main-about__skills {
  margin-bottom: 50px;
}
.main-about__skills-header {
  color: #E6F4F1;
}
.main-about__skills-display {
  display: grid;
  grid-template-areas: "html js" "css python" "git github";
  gap: 30px;
  margin: 30px 0px;
  padding: 20px 30px;
  border-left: 4px solid #708090;
  border-right: 4px solid #708090;
}
.main-about__skills-display .skills-display-item {
  height: 80px;
  width: 80px;
  background-color: #708090;
  display: flex;
  border-radius: 15px;
  flex-direction: column;
  justify-content: center;
}
.main-about__skills-display .skills-display-item > i, .main-about__skills-display .skills-display-item h4 {
  color: #E6F4F1;
}
.main-about__skills-display .skills-display-item:hover {
  background-color: #E59C23;
}
.main-about__skills-display .skills-display-item:first-child {
  grid-area: html;
}
.main-about__skills-display .skills-display-item:nth-child(2) {
  grid-area: js;
}
.main-about__skills-display .skills-display-item:nth-child(3) {
  grid-area: css;
}
.main-about__skills-display .skills-display-item:nth-child(4) {
  grid-area: python;
}
.main-about__skills-display .skills-display-item:nth-child(5) {
  grid-area: git;
}
.main-about__skills-display .skills-display-item:nth-child(6) {
  grid-area: github;
}

@media screen and (min-width: 1024px) {
  .main-about__header {
    display: none;
  }
  .main-about__blurb {
    display: flex;
    align-items: center;
    width: 80%;
  }
  .main-about__image-frame {
    width: 160px;
    height: 181px;
    margin-right: auto;
    margin-left: auto;
  }
  .main-about__image-frame > img {
    width: 150px;
    height: 171px;
  }
  .main-about__text {
    margin: 0;
    width: 70%;
  }
  .main-about__divider {
    margin: 30px 0;
  }
  .main-about__skills {
    margin-bottom: 0;
  }
  .main-about__skills-display {
    display: grid;
    grid-template-areas: "html css js" "python github git";
    gap: 30px 50px;
    margin: 10px 0;
    padding: 20px 50px;
  }
}
.nav {
  font-family: "Merriweather", serif;
  font-weight: bold;
}

main * {
  font-family: "Merriweather", serif;
}
main h2 {
  font-size: 22px;
  font-weight: bold;
}
main h3 {
  font-size: 18px;
}
main h4 {
  font-size: 12px;
}

.main-about .main-about__blurb > .main-about__text, .main-about .skills-display-item > h4 {
  font-family: "Fira Sans", sans-serif;
}
.main-about .main-about__blurb > .main-about__text {
  font-size: 16px;
}

.main-projects .carousel__item__skill-bar .skill {
  font-size: 12px;
}
.main-projects .carousel__item__description {
  font-family: "Fira Sans", sans-serif;
  font-size: 14px;
}
.main-projects .carousel__item__buttons p {
  font-size: 16px;
}

.main-contact__socials__links__item > a > i {
  font-size: 40px;
}
.main-contact__socials__links__item > a > p {
  font-size: 8px;
}

.main-contact__form-section__form > label, .main-contact__form-section__form input {
  font-size: 14px;
}

@media screen and (min-width: 1024px) {
  .nav {
    font-weight: normal;
  }
  .nav .nav__link {
    font-size: 20px;
  }
  .nav h2 {
    font-size: 30px;
  }

  .main-home > h2 {
    font-size: 42px;
  }

  .main-about .main-about__blurb .main-about__text {
    font-size: 18px;
  }
  .main-about .main-about__skills > h3 {
    font-size: 22px;
  }

  .main-contact__sub-header {
    font-size: 22px;
  }

  .main-contact__socials__links__item > a > p {
    font-size: 18px;
  }

  .main-contact__form-section__form > label, .main-contact__form-section__form input {
    font-size: 18px;
  }
}
.main-projects .carousel__item {
  display: block;
  margin-bottom: 30px;
}
.main-projects .carousel__item__image {
  width: 100%;
  border: 10px solid #708090;
  border-bottom: none;
  border-radius: 15px;
}
.main-projects .carousel__item__header {
  text-align: left;
  color: #E6F4F1;
  margin-top: 10px;
  margin-bottom: 5px;
}
.main-projects .carousel__item__skill-bar {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: 5px;
}
.main-projects .carousel__item__skill-bar .skill {
  background-color: #708090;
  color: #E6F4F1;
  padding: 5px;
  margin-right: 5px;
  border-radius: 8px;
}
.main-projects .carousel__item__description {
  color: #E6F4F1;
  text-align: left;
  margin-bottom: 5px;
}

@media screen and (min-width: 1024px) {
  .main-projects {
    justify-content: center;
  }
  .main-projects__header {
    display: none;
  }
  .main-projects .carousel {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .main-projects .carousel__image {
    border: 15px solid #708090;
  }
  .main-projects .carousel__item {
    width: 40%;
    margin-bottom: 50px;
  }
}
.nav {
  font-family: "Merriweather", serif;
  font-weight: bold;
}

main * {
  font-family: "Merriweather", serif;
}
main h2 {
  font-size: 22px;
  font-weight: bold;
}
main h3 {
  font-size: 18px;
}
main h4 {
  font-size: 12px;
}

.main-about .main-about__blurb > .main-about__text, .main-about .skills-display-item > h4 {
  font-family: "Fira Sans", sans-serif;
}
.main-about .main-about__blurb > .main-about__text {
  font-size: 16px;
}

.main-projects .carousel__item__skill-bar .skill {
  font-size: 12px;
}
.main-projects .carousel__item__description {
  font-family: "Fira Sans", sans-serif;
  font-size: 14px;
}
.main-projects .carousel__item__buttons p {
  font-size: 16px;
}

.main-contact__socials__links__item > a > i {
  font-size: 40px;
}
.main-contact__socials__links__item > a > p {
  font-size: 8px;
}

.main-contact__form-section__form > label, .main-contact__form-section__form input {
  font-size: 14px;
}

@media screen and (min-width: 1024px) {
  .nav {
    font-weight: normal;
  }
  .nav .nav__link {
    font-size: 20px;
  }
  .nav h2 {
    font-size: 30px;
  }

  .main-home > h2 {
    font-size: 42px;
  }

  .main-about .main-about__blurb .main-about__text {
    font-size: 18px;
  }
  .main-about .main-about__skills > h3 {
    font-size: 22px;
  }

  .main-contact__sub-header {
    font-size: 22px;
  }

  .main-contact__socials__links__item > a > p {
    font-size: 18px;
  }

  .main-contact__form-section__form > label, .main-contact__form-section__form input {
    font-size: 18px;
  }
}
.main-contact {
  align-items: normal;
}
.main-contact__socials {
  display: flex;
  flex-direction: column;
  margin-bottom: 56px;
}
.main-contact__socials .main-contact__sub-header {
  color: #E6F4F1;
  font-weight: bold;
  text-align: left;
}
.main-contact__socials__links {
  display: flex;
  margin-top: 8px;
  justify-content: space-around;
}
.main-contact__socials__links__item > a {
  text-decoration: none;
}
.main-contact__socials__links__item > a > i, .main-contact__socials__links__item > a p {
  color: #E59C23;
}
.main-contact__socials__links__item > a > i:hover, .main-contact__socials__links__item > a p:hover {
  color: #708090;
}
.main-contact__form-section {
  display: flex;
  flex-direction: column;
}
.main-contact__form-section .main-contact__sub-header {
  color: #E6F4F1;
  font-weight: bold;
  text-align: left;
}
.main-contact__form-section__form {
  margin-top: 8px;
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  grid-template-rows: repeat(5, 25px);
  gap: 10px;
  align-items: start;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.main-contact__form-section__form > label {
  text-align: left;
  color: #E6F4F1;
}
.main-contact__form-section__form .text-field {
  background-color: #142430;
  color: #E59C23;
  border: 2px solid #E6F4F1;
}
.main-contact__form-section__form__label-name {
  grid-column: 1/2;
  grid-row: 1/2;
}
.main-contact__form-section__form__text-name {
  grid-column: 2/4;
  grid-row: 1/2;
}
.main-contact__form-section__form__label-email {
  grid-column: 1/2;
  grid-row: 2/3;
}
.main-contact__form-section__form__text-email {
  grid-column: 2/4;
  grid-row: 2/3;
}
.main-contact__form-section__form__label-message {
  grid-column: 1/2;
  grid-row: 3/4;
}
.main-contact__form-section__form__text-message {
  grid-column: 2/4;
  grid-row: 3/5;
}
.main-contact__form-section__form .clear-button {
  grid-column: 1/2;
  grid-row: 5/6;
}
.main-contact__form-section__form .submit-button {
  grid-column: 2/3;
  grid-row: 5/6;
}

@media screen and (min-width: 1024px) {
  .main-contact {
    flex-direction: row;
    justify-content: center;
    margin-top: 25px;
  }
  .main-contact__header {
    display: none;
  }
  .main-contact__socials {
    width: 30%;
  }
  .main-contact__socials__links {
    flex-direction: column;
    margin-top: 10px;
  }
  .main-contact__socials__links__item {
    margin: 15px 0;
  }
  .main-contact__socials__links__item > a {
    display: flex;
    align-items: center;
  }
  .main-contact__socials__links__item > a > p {
    margin-left: 15px;
  }
  .main-contact__form-section {
    width: 60%;
  }
  .main-contact__form-section .main-contact__sub-header {
    color: #E59C23;
  }
  .main-contact__form-section__form {
    margin-top: 25px;
    grid-template-rows: repeat(6, 25px);
    gap: 25px;
  }
  .main-contact__form-section__form__text-message {
    grid-row: 3/6;
  }
  .main-contact__form-section__form .clear-button {
    grid-row: 6/7;
  }
  .main-contact__form-section__form .submit-button {
    grid-row: 6/7;
  }
  .main-contact__form-section__form .main-contact__form-section__form__text-message {
    height: 9em;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merriweather", serif;
}

/* phone - app 374 x 667 */
body {
  display: inline-flex;
  flex-direction: column;
  background-color: #142430;
  width: 100%;
}

/* desktop 1024 x 768 */