@import "../components/_variables.scss";
@import "../components/_typography.scss";

.main-about {
  width: 80%;
  margin-left: auto;
  margin-right: auto;

  &__header {
    text-align: center;
    margin: 40px 0 25px 0;
    color: $secondary-color;
  }

  &__image-frame {
    height: 144px;
    width: 126px;
    background-color: $quaternary-color;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    > img {
      height: 134px;
      width: 116px;
    }
  }

  &__text {
    margin-top: 30px;
    font-family: $font-text;
    text-align: left;
    color: $secondary-color;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  
  &__divider {
    margin: 40px 0px;
    background-color: $tertiary-color;
    border: 2px solid $tertiary-color;
  }


  .skills {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;

    &__header {
      color: $secondary-color;
      text-align: center;
      margin-bottom: 25px;
    }

    &__display {
      padding: 25px;
      border-left: 4px solid $quaternary-color;
      border-right: 4px solid $quaternary-color;

      display: flex;
      justify-content: center;
      gap: 15px;
      flex-wrap: wrap;
      width: 80%;
      margin-left: auto;
      margin-right: auto;


      &-item {
        height: 80px;
        width: 80px;
        background-color: $quaternary-color;
        display: flex;
        border-radius: 15px;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .fab, .fas, .skills__display-header {
          color: $secondary-color;
        }

        .skills__display-header {
          margin-top: 5px;
        }
      }

      &-item:hover {
        background-color: $tertiary-color;
      }
    }
  }

}


@media screen and (min-width:1024px) {
  .main-about {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    
    &__header {
      display: none;
    }
    
    &__blurb {
      display: flex;
      align-items: center;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }

    &__image-frame {
      width: 160px;
      height: 181px;
      margin-right: auto;
      margin-left: auto;

      > img {
        width: 150px;
        height: 171px;
      }
    }

    &__text {
      margin: 0;
      width: 70%;
      font-size: 18px;
    }

    &__divider {
      margin: 30px 0;
    }

    .skills {
      margin-bottom: 0;

      &__header {
        font-size: 22px;
      }

      &__display {
        display: flex;
        width: 65%;
        gap: 30px;
        padding: 20px 50px;
      }
    }
    
  }
}