@import "../components/_variables.scss";
@import "../components/_typography.scss";

.main-about {

  &__image-frame {
    height: 144px;
    width: 126px;
    background-color: $quaternary-color;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    > img {
      height: 134px;
      width: 116px;
    }
  }

  &__text {
    margin-top: 30px;
    text-align: left;
    color: $secondary-color;
  }
  
  &__divider {
    margin: 40px 0px;
    width: 110%;
    background-color: $tertiary-color;
    border: 2px solid $tertiary-color;
  }


  &__skills {
    margin-bottom: 50px;

    &-header {
      color: $secondary-color;
    }

    &-display {
      display: grid;
      grid-template-areas: "html js"
                           "css python"
                           "git github";
      gap: 30px;
      margin: 30px 0px;
      padding: 20px 30px;
      border-left: 4px solid $quaternary-color;
      border-right: 4px solid $quaternary-color;


      .skills-display-item {
        height: 80px;
        width: 80px;
        background-color: $quaternary-color;
        display: flex;
        border-radius: 15px;
        flex-direction: column;
        justify-content: center;

        > i, h4 {
          color: $secondary-color;
        }
      }

      .skills-display-item:hover {
        background-color: $tertiary-color;
      }

      .skills-display-item:first-child {
        grid-area: html;
      }
      .skills-display-item:nth-child(2) {
        grid-area: js;
      }
      .skills-display-item:nth-child(3) {
        grid-area: css;
      }
      .skills-display-item:nth-child(4) {
        grid-area: python;
      }
      .skills-display-item:nth-child(5) {
        grid-area: git;
      }
      .skills-display-item:nth-child(6) {
        grid-area: github;
      }
      
    }
  }

}


@media screen and (min-width:1024px) {
  .main-about {
    &__header {
      display: none;
    }
    
    &__blurb {
      display: flex;
      align-items: center;
      width: 80%;
    }

    &__image-frame {
      width: 160px;
      height: 181px;
      margin-right: auto;
      margin-left: auto;

      > img {
        width: 150px;
        height: 171px;
      }
    }

    &__text {
      margin: 0;
      width: 70%;
    }

    &__divider {
      margin: 30px 0;
    }

    &__skills {
      margin-bottom: 0;

      &-display {
        display: grid;
        grid-template-areas: "html css js"
                            "python github git";
        gap: 30px 50px;
        margin: 10px 0;
        padding: 20px 50px;
      }
    }
    
  }
}