@import "../components/_variables.scss";
@import "../components/_typography.scss";

.main-contact {
  height: calc(100% - 99px);

  &__header {
    text-align: center;
    margin: 40px 0 25px 0;
    color: $secondary-color;
  }
  
  .contact-links {
    height: calc(100% - 190px);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width:1024px) {
  .main-contact {
    &__header {
      display: none;
    }

    .contact-links {
      height: calc(100% - 80px);
    }
  }
}