@import "../components/_variables.scss";
@import "../components/_typography.scss";


.main-projects {
  width: 95%;
  margin-left: auto;
  margin-right: auto;

  &__header {
    text-align: center;
    margin: 40px 0 25px 0;
    color: $secondary-color;
  }

  .carousel {
    display: flex;
    justify-content: center;

    &__btn {
      > i {
        color: $tertiary-color;
        font-weight: bold;
        font-size: 42px;
      }

      .fa-chevron-left {
        margin-right: 10px;
      }

      .fa-chevron-right {
        margin-left: 10px;
      }
    }

    .project {
      display: none;
      flex-direction: column;
      padding: 20px;
      background-color: $quaternary-color;
      border-radius: 15px;
      width: 100%;
      
      &__image {
        width: 100%;
        // border: 10px solid $quaternary-color;
        // border-bottom: none;
        // border-radius: 15px;
      }

      &__header {
        text-align: left;
        color: $secondary-color;
        margin-top: 10px;
        margin-bottom: 5px;
      }

      &__skill-bar {
        width: 100%;
        display: flex;
        align-items: flex-start;
        margin-bottom: 5px;

        .skill {
          background-color: $tertiary-color;
          color: $primary-color;
          padding: 5px;
          margin-right: 5px;
          border-radius: 8px;
          font-size: 12px;
        }
      }
      
      &__description {
        color: $secondary-color;
        text-align: left;
        margin-bottom: 5px;
        font-size: 14px;
        font-family: $font-text;
      }

      &__btns {
        display: flex;
        justify-content: space-between;
      }
    }

    .project:first-child {
      display: flex;
    }
  }
}

@media screen and (min-width: 1024px) {
  .main-projects {
    justify-content: center;
    width: 60%;

    &__header {
      display: none;
    }

    .carousel {
      margin-top: 20px;

      &__btn {

        > i{
          font-size: 60px;
        }
        > i:hover {
          color: $secondary-color;
        }
       
      }
    }

    .projects {
      width: 80%;
    }

  }

}