.nav {
  font-family: "Merriweather", serif;
  font-weight: bold;
}

main * {
  font-family: "Merriweather", serif;
}
main h2 {
  font-size: 22px;
  font-weight: bold;
}
main h3 {
  font-size: 18px;
}
main h4 {
  font-size: 12px;
}

.main-about .main-about__blurb > .main-about__text, .main-about .skills-display-item > h4 {
  font-family: "Fira Sans", sans-serif;
}
.main-about .main-about__blurb > .main-about__text {
  font-size: 16px;
}

.main-projects .carousel__item__skill-bar .skill {
  font-size: 12px;
}
.main-projects .carousel__item__description {
  font-family: "Fira Sans", sans-serif;
  font-size: 14px;
}
.main-projects .carousel__item__buttons p {
  font-size: 16px;
}

.main-contact__socials__links__item > a > i {
  font-size: 40px;
}
.main-contact__socials__links__item > a > p {
  font-size: 8px;
}

.main-contact__form-section__form > label, .main-contact__form-section__form input {
  font-size: 14px;
}

@media screen and (min-width: 1024px) {
  .nav {
    font-weight: normal;
  }
  .nav .nav__link {
    font-size: 20px;
  }
  .nav h2 {
    font-size: 30px;
  }

  .main-home > h2 {
    font-size: 42px;
  }

  .main-about .main-about__blurb .main-about__text {
    font-size: 18px;
  }
  .main-about .main-about__skills > h3 {
    font-size: 22px;
  }

  .main-contact__sub-header {
    font-size: 22px;
  }

  .main-contact__socials__links__item > a > p {
    font-size: 18px;
  }

  .main-contact__form-section__form > label, .main-contact__form-section__form input {
    font-size: 18px;
  }
}
.main-projects .carousel__item {
  display: none;
}
.main-projects .carousel__item__image {
  width: 100%;
  border: 15px solid #708090;
  border-bottom: none;
  border-radius: 15px;
}
.main-projects .carousel__item__header {
  text-align: left;
  color: #E6F4F1;
  margin-top: 10px;
  margin-bottom: 5px;
}
.main-projects .carousel__item__skill-bar {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: 5px;
}
.main-projects .carousel__item__skill-bar .skill {
  background-color: #708090;
  color: #E6F4F1;
  padding: 5px;
  margin-right: 5px;
  border-radius: 8px;
}
.main-projects .carousel__item__description {
  color: #E6F4F1;
  text-align: left;
  margin-bottom: 5px;
}
.main-projects .carousel__item:first-child {
  display: block;
}
.main-projects .carousel__controls {
  display: inline-flex;
  margin: 20px 0;
}

@media screen and (min-width: 1024px) {
  .main-projects {
    height: 65vh;
    justify-content: center;
  }
  .main-projects__header {
    display: none;
  }
  .main-projects .carousel {
    display: inline-flex;
    justify-content: space-evenly;
  }
  .main-projects .carousel__item:nth-child(2) {
    display: inline;
  }
  .main-projects .carousel__item:first-child {
    display: inline;
  }
  .main-projects .carousel__item {
    width: 40%;
  }
  .main-projects .carousel__controls {
    margin: 30px 0;
  }
}