@import "../components/_variables.scss";
@import "../components/_typography.scss";


.main-projects {
  .carousel {
    &__item {
      display: block;
      margin-bottom: 30px;
      
      &__image {
        width: 100%;
        border: 10px solid $quaternary-color;
        border-bottom: none;
        border-radius: 15px;
      }

      &__header {
        text-align: left;
        color: $secondary-color;
        margin-top: 10px;
        margin-bottom: 5px;
      }

      &__skill-bar {
        width: 100%;
        display: flex;
        align-items: flex-start;
        margin-bottom: 5px;

        .skill {
          background-color: $quaternary-color;
          color: $secondary-color;
          padding: 5px;
          margin-right: 5px;
          border-radius: 8px;
        }
      }
      
      &__description {
        color: $secondary-color;
        text-align: left;
        margin-bottom: 5px;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .main-projects {
    justify-content: center;

    &__header {
      display: none;
    }

    .carousel {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;

      &__image {
        border: 15px solid $quaternary-color;
      }

      &__item {
        width: 40%;
        margin-bottom: 50px;
      }
    }

  }

}